doctype
html
	head
		meta(http-equiv="X-UA-Compatible",content="IE=Edge")
		meta(http-equiv="Content-Type",content="text/html;charset=UTF-8")
		block title
			title Mi.com
		block description
			meta(name="description",content="")
		block keywords
			meta(name="keywords",content="")
		link(rel="shortcut icon",href="http://www.mi.com/favicon.ico",type="image/x-icon")
		link(rel="icon",href="http://www.mi.com/favicon.ico",type="image/x-icon")

		block stylesheet
			link(rel="stylesheet",href="")
		block script
	body
		block content
