//- 制作一个css Animation工具
extends ../_common/layout 

block title
	title
		| animate tool
block stylesheet
	link(rel="stylesheet",href="http://ben.mi.com/assets/temp/140624/ani.css")
block content
	.main
		.left-part
			.left-part-leftArea
				.border-num.J_border
				
						
				.addBallBtn.J_addBtn
					|+
				.playStart.J_play
					| PLAY
			.left-part-rightArea
				.input-frame.J_inputFrm
				.resume.J_resume
					|RESUME

				.log.J_log
					|LOG
				input.input-dur.J_duration(value="1000")
				input.input-fun.J_fun(value="linear")
				input.input-repeat.J_repeat(value="infinite")
				
		.right-part
			.circle-obj.J_roundBall

	script(src="http://ben.mi.com/js/util/jquery.js")
	script(src="http://ben.mi.com/js/util/jquery.keyframes.min.js")
	script(src="http://ben.mi.com/js/util/doT.js")
	script(id="circle-tmpl",type="text/template")
		<div data-input="J_input_{{=it.cirId}}" class="circle J_circle clickCircle" style="background-color:{{=it.color}};">0</div>
	script(id="input-tmpl",type="text/template")
		<input class="input-content J_input_{{=it.cirId}}" >
	script(src="http://ben.mi.com/js/140624/ani.js")
	